body{
    background-color: #040406;
    position: relative;
    height: 100%;
    margin: 2%;
    font-family: "avenir", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

h1 a,
nav a,
ul{
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

.main-wrapper{
    display: flex;
    max-width: 1200px;
    align-items: flex-start;
    position: relative;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    grid-template-columns: 20% 20%;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

#const{
    color:rgb(75, 108, 205);
    grid-column: 1;
}

#clock{
    color:skyblue;
    grid-column: 2;
}

#hour-word,
#month-word,
#day-word,
#year-word,
#minute-word,
#second-word{
    grid-column-start: 1;
    color: lightblue;
    padding-right: 5%;
}

#hour,
#month,
#day,
#year,
#minute{
    grid-column-start: 2;
}