@media screen and (min-width: 800px){
    
    html{
        background-color: lightblue;
        margin: 2%;
    }

    body{
        padding: 1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #15202b;
    }

    .container{
        display: grid;
        justify-content: center;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    h1{
        font-size: 2em;
        text-align: center;
    }

    .inputs{
        grid-row: 2;
        text-align: center;
        padding-bottom: 1%;
    }

    #num1,
    #num2,
    #operator{
        font-size: 1.5em;
    }

    #calculate,
    #reset{
        background-color: white;
        grid-row: 3;
        font-size: 1em;
    }

    #text{
        grid-row: 1;
    }

    #phone-number{
        font-size: 2em;
        padding-top: 30%;
        min-height: 3%;
    }

    #display{
        font-size: 2em;
        padding-top: 5%;
    }

    #error{
        padding-top: 5%;
        font-size: 1.5em;
    }

    #display{
        border: 1px black solid;
        background-color: white;
        text-align: center;
        padding: 1%;
    }
}

@media screen and (max-width: 800px){
    html{
        background-color: lightblue;
        margin: 2%;
    }

    body{
        padding: 10%;        
        padding-top: 1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #15202b;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 2em;
        text-align: center;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1%;
    }

    #num1,
    #num2,
    #operator{
        font-size: 1.5em;
        text-align: center;
    }

    #calculate,
    #reset{
        background-color: white;
        font-size: 1em;
    }

    #phone-number{
        font-size: 2em;
        padding-top: 25%;
    }

    #display{
        font-size: 2em;
        padding-top: 5%;
    }

    #error{
        padding-top: 5%;
        font-size: 1.5em;
    }

    #display{
        border: 1px black solid;
        background-color: white;
        text-align: center;
        padding: 1%;
    }
}