html{
    margin: 2%;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: lightblue;
}

h1{
    font-size: 1em;
}

.container{
    display: flex;
    justify-content: center;
}

#phone-number{
    padding-top: 25%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    justify-content: center;
}

input,
#operator{
    font-size: 1em;
    border-radius: 15px;
    padding: 1%;
    align-items: center;
    border: 3px solid black;
    margin: 1%;
}

input,
#calculate,
#reset{
    width: 15%;
}

#reset{
    background-color: red;
}

#submit,
#calculate,
#reset{
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1em;
    background-color: white;
    margin: 1%;
}