html{
    margin: 2%;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #051650;
    color: #fffada;
}

h1{
    font-size: 1em;
}

.container{
    display: flex;
    justify-content: center;
}

#phone-number{
    padding-top: 25%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator{
    border: 5px #0492c2 solid;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    justify-content: center;
    margin: 1%;
}

input,
#operator{
    font-size: 1em;
    border-radius: 15px;
    padding: 1%;
    align-items: center;
    border: 3px solid black;
    margin: 1%;
}

#num1,
#num2{
    background-color: #555555;
    color: #fffada;
}

#operator,
#reset{
    background-color: #878787;
    color: #fffada;
}

input,
#calculate,
#reset{
    width: 15%;
    color: #000057;
}

#calculate{
    background-color: #8d021f;
}

#submit{
    background-color:cadetblue;
}

#submit,
#calculate,
#reset{
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1em;
    margin: 1%;
    color: #fffada;
    transition: all 0.3s ease-in-out;
}

#submit:hover,
#calculate:hover,
#reset:hover{
    background-color:#91bad6;
}