/* General page styles*/

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }

  
  .card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    padding: 1em;
  }
  
  .card footer {
    background-image:rgba(0,0,0,0.1); 
    border-radius: 0 0 1.5em 1.5em;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 1em;
  }
  
  .card article img {
    max-height: 100%;
    float: right;
    height: 12em;
  }

  .card article {
    height: 12em;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
  }

  .card article p {
    padding: 1em;
  }

  .card header h2 {
    font-size: 2em;
    line-height: 2em;
    margin: 0;
  }

  .card footer {
    font-size: 1.5em;
    line-height: em;
  }

  .card article p {
    margin: 0;
  }

  .card header, .card footer {
    height: 3em;
    padding: 1em;
  }

  h2, p {
    margin: 0;
  }

/* Eric's Card Styles */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

.eric-card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: rgb(71, 86, 125);
  border: 0.2em solid black;
  border-radius: 1.5em;
  font-family: 'Futura'
}


.eric-header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
  padding: 1em;
}

.eric-footer {
  background-image:rgba(0,0,0,0.1); 
  border-radius: 0 0 1.5em 1.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 1em;
}

.eric-card article img {
  max-height: 100%;
  float: right;
  height: 12em;
}

.eric-card article {
  height: 12em;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.eric-card article p {
  padding: 1em;
}

.eric-card header h2 {
  font-size: 2em;
  line-height: 2em;
  margin: 0;
  color: white;
}

.eric-card footer {
  font-size: 1.5em;
  line-height: em;
  color: white;
}

.eric-card article p {
  margin: 0;
}

.eric-card header, .eric-card footer {
  height: 3em;
  padding: 1em;
}

h2, p {
  margin: 0;
}

